body{
    padding: 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

#input-el {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

.list{
    padding-left: 0px;
    margin-left: 0px;

}

button {
    background: #5f9341;
    color: white;   
    padding: 10px 20px;
    border: 1.9px solid black;
    font-weight: bold;
    margin-bottom: 4px;
}

#delete-btn {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: 1.9px solid black;
    font-weight: bold;
    margin-bottom: 4px;

}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
    font-size: large;

}

form{
    margin-top: 10px;
    margin-bottom: 20px;
    padding:5px;
    border: 1.5px solid black;
}

fieldset{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1.5px solid black;
}
.todo-list-title{
    text-align: center;
    font-weight: bold;
}

